<p>Prezado(a) <%= @resource.nome %>!</p>

<p>Sua conta foi bloqueada devido a um número excesso de tentativas mal sucedidas de login no sistema de gerenciamento de estágios das licenciatura da UFABC.</p>

<p>Cli the link below to unlock your account:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
