<h1>Solicitar Cancelamento</h1>
<h><b><p style="color:green"> Os campos marcados com (*) são de preenchimento obrigatório </b></p></h>
</p>
<%= render 'form' %>

<%= link_to 'Voltar', cancelamentos_path %>
