<br>
<h3><b>Visualizar formulário individual por aluno.</b></h3>

<table>
  <tr>
    <th>Aluno</th>
    <th>RA</th>
 <!--   <th>Código da disciplina</th> -->
  <!--  <th>Nome da disciplina</th> -->

    <th></th>
    <th></th>
  </tr>


<% @usuario.each do |user| %>
  
  
 
 
  
      <tr>
        <td><%= link_to retorna_nome_aluno(user.id), :controller => 'relatorios', :action => 'detalhes', :periodo => @periodo.id, :aluno_id => user.id%></td>
        <td><%= retorna_ra(user.id)%></td>
      </tr>
    <%end%>
 

</table>

<br />