<h1>Selecione o Periodo</h1>

<table>
  <tr>
    <th>Quadrimestre</th>
    <th>Ano</th>
    <th></th>
  </tr>
<% @periodos = Periodo.find(:all) %>
<% @periodos = @periodos.reverse!%>
<% @periodos.each do |periodo| %>
  <tr>
    <td><%= periodo.quadrimestre %></td>
    <td><%= periodo.ano%></td>
    <td><%= link_to 'Avançar', "/estagios/fluxo/"+(periodo.id).to_s %></td>
  </tr>
<% end %>
</table>

<br />



