<p>Prezado(a)</p>
<p>Existem novas solicitações de cancelamento de matricula no sistema</p>


<p>Essa mensagem foi gerada automaticamente, favor não responder. 

<p><i> Mensagem enviada em, <%=@hoje%></i></p>
