<p>Prezado(a) <%=@aluno.nome%></p>
<p>Sua solicitação de Cancelamento para a disciplina abaixo, foi recebida e em breve será avaliada</p>
<p> Disciplina: <font color="green"><b><%= @cancelamento.nomedis %></p></b></font>
<p>Essa mensagem foi gerada automaticamente, favor não responder. <b>Em caso de dúvida, contate a Divisão Acadêmica <%=@email%>.</b></p>

<p><i> Mensagem enviada em, <%=@hoje%></i></p>