<p>Prezado(a) <%= @resource.email %>!</p>

<p>Alguém solicitou um link para alterar a senha do sistema de solicitação de estágios das licenciaturas da UFABC. Você pode fazer isso clicando no link abaixo:</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
<p><font color="red">ATENÇÃO!</font> Esse link tem duração de 6h a partir do momento em que foi solicitado.</p>
<p>Caso não tenha feito o pedido, por favor, ignore essa mensagem. A senha não será alterada até que você clique no link e crie uma nova.</p>
